<random-project project="projects"></random-project>
<br>
<div id="Home">
    <h1>About me.</h1>
    <p>Saya merupakan seorang Junior backend developer <br> <span> 
        yang lulus dari SMK Telkom Shandy Putra di Malang.<br>
        Selama saya menjadi Siswa di SMK Telkom Shandy<br>
        Putra di Malang, Saya mempelajari beberapa bahasa <br>
        pemrograman seperti JavaScript, HTML, CSS dan PHP.<br>
        saya juga belajar Node.js dan React.js. Untuk<br>
        database, saya Diajari MySQL.</p>
    <div class="keahlian">
        <h1>Keahlian.</h1>
        <img src="Foto/skill.png" alt="Maaf, tidak ada foto/ ada kesalahan." class="foke">
    </div>
</div>

            