<div class="container-fluid" style="margin-left: -1px;">
    <img ng-src="{{project[random].gambar}}" class="foto">
    <div class="profile-bg">
        <div class="fading">
            <div class="profile-bg2">
      
            </div>
        </div>
    </div>
    <h1 class="nama">Agung Ramadhan</h1>
    <div class="profesi">
        <h3 class="profesi">Junior Backend Developer</h3>
        <h3 class="profesi">Project: {{project[random].judul}}</h3> 
        <h3 class="profesi">Tanggal: {{project[random].tgl}}</h3>
    </div>
</div>